
  body {
      margin: 0px;
      font-family: 'Muli', sans-serif;
  }
  .header {
    background-color: #21C08B;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__img {
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
  }
  /* Estilizando el contenedor del login */
  .login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }
  .login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 210px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  .login__container label {
    font-size: 12px;
  }
  .login__container--remenber-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .login__container--remenber-me a {
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  .login__container--remenber--me a:hover {
    text-decoration: underline;
  }
  .login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .login__container--social-media > div > img {
    width: 15px;
    margin-right: 10px;
  }
  .login__container--register{
    font-size: 12px;
  }
  .login__container--register a {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .login__container--register a:hover {
    text-decoration: underline;
  }
  .input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
  }
  ::placeholder {
    color: white;
  }
  .button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  .footter {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #AB88FF;
  }
  .footer a {
    color: white;
    font-size: 12px;
    cursor: pointer;
    padding-left:0px;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }